<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SQlExpressConnection" connectionString="Server=LAPTOP-4J4IUVJ3\SQLEXPRESS;Database=DriversDB;User ID=dbconnect;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="CompanyName" value="עורכי דין בעם"/>
		<add key="MaxCarNumber" value="100"/>
	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ICarDriverService1" />
    <binding name="BasicHttpBinding_IDriverServerLogic" />
   </basicHttpBinding>
  </bindings>
  <client>
    <endpoint address="http://localhost:53699/CarDriverService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarDriverService1"
    contract="CarDriverNamespace.ICarDriverService" name="BasicHttpBinding_ICarDriverService1" />
   <endpoint address="http://localhost:53699/DriverService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverServerLogic"
    contract="DriverNamespace.IDriverServerLogic" name="BasicHttpBinding_IDriverServerLogic" />
  </client>
 </system.serviceModel>
</configuration>